@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --cor-primaria:rgb(91, 178, 255);
    --cor-base: rgb(61, 61, 61);
    --cor-destaque: rgb(0, 0, 0);
    --cor-fraca:rgb(180, 180, 180);
}


*{
    margin-left: 10px;
}

html{

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    background-color: rgb(255, 255, 255);

}

body{
    background-color: rgb(235, 235, 235);
    margin: auto ;
    margin-top: 20px;
    max-width: 700px;
    color: var(--cor-base);
} 

footer{
    margin: 0px;
    margin-top: 30px;
    background-color: var(--cor-primaria);
    text-align: center;
}

footer ul{
    padding: 0px;
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

table{
    margin-bottom: 10px;
}

div{
    scroll-margin-top: 25px;
    margin: 0px;
    padding: 0px;
}

h1{
    margin-top: 0px;
    font-weight: 500;
    color: var(--cor-destaque);
    margin-bottom: 10px;
}

a{
    color: var(--cor-base);
    text-decoration: none;
}

h2{
    margin: 0;
    display: inline;
    font-weight: 500;
    color: var(--cor-destaque);
}

strong{
    margin: 0;
}

abbr{
    margin: 0px;
}

th{
    border-right: 1px solid var(--cor-fraca);
    text-align: left;
    padding-right: 10px;
}

hr{
    border-top: 1px solid var(--cor-fraca);
    margin-top: 5px;
    margin-bottom: 5px;

}

header{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}



.wrapper{
    width: 50%;
    display: inline-block;
}

#lista-navegacao{
    margin: 0;
    padding: 0;
    background-color: var(--cor-primaria);
    width: 100%;
    max-width: 700px;
    position: fixed;
    left: max((100% - 690px)/2, 0px);
    top: 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    
}
#lista-navegacao li{
    display: inline;

}

#lista-navegacao li:first-child a{
    margin: 0px;
}

#habilidades ul{
    padding-left: 10px;
}
#foto{
    margin-top: 10px;
    padding-left: 20px;
    border-radius: 50% ;
    width: 70%;
}

#sobrenome{
    color: var(--cor-primaria);
}

#coltec{
    margin-top: 10px;
}

#experiencia{
    display: none;
}


#nome span{
    font-size: max(4.5vw, 40px);
    margin: 0;
    
}

#copyright{
    color: var(--cor-base);
    font-size: small;
    margin: auto;
    
}